:root {
    --containerSpace: 20vw;
    --colorDark: #323232;
    --colorGrey: #999;
}
.application{
    padding: 0 var(--containerSpace);
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
