.event {
    flex: 1 0 40%; /* explanation below */
    margin: 5px;
    height: auto;
    border:1px solid #e5e5e5;
    padding:10px 15px;
    color:var(--colorDark);
}

.event--header {
    color: var(--colorGrey);
    font-weight:bold;
}
.event--status{
    font-weight:bold;
}
.event--title{
    font-size:1.75rem;
    text-decoration:none;
    color: var(--colorDark);
}
.event--title:hover{
    text-decoration:underline;
}

.events--error{
    color:palevioletred;
    font-size:1.25em;
    text-align:center;
}